<!doctype html>
@{ 
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <title>LayIM测试</title>
    <script src="~/layui/layui.js"></script>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.js"></script>
</head>
<body>
<script>
    var conn = $.hubConnection("/myhub", {
        qs: "Bearer=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwicHdkIjoiMTIzIn0.PfNy_3CgWZQPtXQHJ8KNUwunImKEz5jsj9LzZZg6GKg"
    });
    conn.url = "http://localhost:6178/myhub/signalr"
    var proxy = conn.createHubProxy("MyPersonHub");
    var proxy = conn.createHubProxy("MyPersonHub");
    conn.start().done(function (data) {


    }).fail(function (data) {
        alert(data)
    });
layui.use('layim', function(layim){
  //先来个客服模式压压精
    layim.config({
        //初始化接口
        init: {
            url: '/layim/json/getList.json'
            , data: {}
        }
        //查看群员接口
        , members: {
            url: '/layim/json/getMembers.json'
            , data: {}
        }

        , uploadImage: {
            url: '' //（返回的数据格式见下文）
            , type: '' //默认post
        }
        , uploadFile: {
            url: '' //（返回的数据格式见下文）
            , type: '' //默认post
        }

        , isAudio: true //开启聊天工具栏音频
        , isVideo: true //开启聊天工具栏视频

        //扩展工具栏
        , tool: [{
            alias: 'code'
            , title: '代码'
            , icon: '&#xe64e;'
        }]

        //,brief: true //是否简约模式（若开启则不显示主面板）

        //,title: 'WebIM' //自定义主面板最小化时的标题
        //,right: '100px' //主面板相对浏览器右侧距离
        //,minRight: '90px' //聊天面板最小化时相对浏览器右侧距离
        , initSkin: '3.jpg' //1-5 设置初始背景
        //,skin: ['aaa.jpg'] //新增皮肤
        //,isfriend: false //是否开启好友
        //,isgroup: false //是否开启群组
        //,min: true //是否始终最小化主面板，默认false
        //,notice: true //是否开启桌面消息提醒，默认false
        //,voice: false //声音提醒，默认开启，声音文件为：default.mp3

        , msgbox: '/layim/demo/msgbox.html' //消息盒子页面地址，若不开启，剔除该项即可
        , find: '/layim/demo/find.html' //发现页面地址，若不开启，剔除该项即可
        , chatLog: '/layim/demo/chatlog.html' //聊天记录页面地址，若不开启，剔除该项即可

    }).chat({
    name: '客服姐姐'
    ,type: 'friend'
    ,avatar: 'http://tp1.sinaimg.cn/5619439268/180/40030060651/1'
    ,id: -2
        });
    layim.on('sendMessage', function (data) {
        
    })
});
</script>
</body>
</html>